body {
  background-color: rgba(255, 255, 255, 0.87);
}

header {
  display: flex;
}

.first_page{
  width: 100%;
  height: 1080px;
}

/* фон */

.background-logo__name1 {
  position: absolute;
  top: 30px;
  left: 30px;
  padding: 0;
  width: 570px;
  height: 200px;
}

.background-logo__name2 {
  position: absolute;
  top: 300px;
  left: 300px;
  padding: 0;
  width: 1087px;
  height: 200px;
}

.background-logo__years {
  position: absolute;
  top: 580px;
  left: 1000px;
  padding: 0;
  width: 570px;
  height: 200px;
}

.background-logo__name1-txt {
  margin: 0;
  padding: 0;

  color: #f3f3f3;
  font-size: 250px;
  font-family: "Arial", Arial, sans-serif;
  line-height: 0.78;
  font-weight: 700;
  letter-spacing: -4px;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

.background-logo__name2-txt {
  margin: 0;
  padding: 0;

  color: #f3f3f3;
  font-size: 250px;
  font-family: "Arial", Arial, sans-serif;
  line-height: 0.78;
  font-weight: 700;
  letter-spacing: -4px;
  background-position: center center;
  border-color: transparent;
}
.background-logo__years-txt {
  margin: 0;
  padding: 0;

  color: #f3f3f3;
  font-size: 130px;
  font-family: "Arial", Arial, sans-serif;
  line-height: 0.78;
  font-weight: 700;
  letter-spacing: -4px;
  background-position: center center;
  border-color: transparent;
}

/* header */

.logo-link {
  position: absolute;
  top: 72px;
  left: 60px;

  color: #ff5c17;
  font-size: 20px;
  font-family: "Arial", Arial, sans-serif;
  font-weight: 700;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  z-index: 1;
}

/* список ссылок хедер */
.header__list {
  display: flex;
  margin: 70px 0px 0px 700px;
  list-style: none;
}

.header-list__list-element {
  margin-right: 66px;
  color: #ff5c17;
  font-size: 20px;
  font-family: "Arial", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 700;
  border-radius: 30px;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

/* кнопка */
.header__button {
  margin: 64px 0px 0px 0px;
  width: 150px;
  height: 44px;
  color: #ffffff;

  font-size: 15px;
  font-family: "Arial", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 700;
  border-radius: 30px;
  background-color: #ff5c17;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

.first_page__txt {
  position: absolute;
  top: 570px;
  left: 50px;
  width: 900px;
  height: 256px;
  color: #ff5c17;
  font-size: 96px;
  font-family: "Arial", Arial, sans-serif;
  line-height: 0.83;
  font-weight: 700;
  letter-spacing: -4px;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

/* about page */
.background-txt-1__name{
  color: #f3f3f3;
  font-size: 218px;
  font-family: 'Arial', Arial, sans-serif;
  line-height: 0.78;
  font-weight: 700;
  letter-spacing: -4px;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

.background-txt-2__name{
  color: #f3f3f3;
  font-size: 218px;
  font-family: 'Arial', Arial, sans-serif;
  line-height: 0.78;
  font-weight: 700;
  letter-spacing: -4px;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

.about-page__background-txt-1{
  position: absolute;
  top: 1100px;
  left: 620px;
}

.about-page__background-txt-2{
  position: absolute;
  top: 1300px;
  left: 10px;
}